.barber-info, .reviews {
    margin: 100px;
    padding: 70px 100px;
    box-shadow: 0px 10px 50px 10px rgba(0, 0, 0, 0.05);
border-radius: 16px;
}

.barber-info h4 {
    font-weight: 600;
font-size: 32px;
line-height: 44px;
}

.barber-info .bio {
    font-weight: 400;
font-size: 20px;
line-height: 27px;
}

.barber-info .address {
    font-style: italic;
font-weight: 400;
font-size: 20px;
line-height: 30px;
}

.barber-info .price {
    font-weight: 600;
font-size: 22px;
line-height: 30px;
}

.book-btn, .review-post {
    width: 500px;
    height: 60px;
    padding: 20px;
    border: none;
    outline: none;
    background-color: #C2C8FE;
border-radius: 8px;
cursor: pointer;
font-size: 18px;
}

.reviews p {
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
    font-weight: 500;
font-size: 24px;
line-height: 33px;
}

.comments {
    margin-top: 25px;
}

.reviews .commenter {
    font-weight: 400;
font-size: 20px;
line-height: 27px;
padding-bottom: 10px;
border: none;
}

.reviews .comment {
    font-style: italic;
font-weight: 400;
font-size: 20px;
line-height: 30px;
border: none;
margin-bottom: 20px;
}

.reviews form {
    margin-top: 50px;
}

textarea {
    width: 700px;
    height: 100px;
    padding: 20px;
    outline: none;
    border: 1px solid #A7AAC6;
border-radius: 8px;
}

.review-post {
    background-color: #C2C8FE !important;
    margin-top: 30px;
    width: 250px;
}